<div class="Part2">
    <div class="container body-content">
        <h2 class="black"><span class="glyphicon glyphicon-info-sign media-list"></span> درباره پارسی بین</h2>
        <p class="black">پارسی بین یک ایده سرگرمی است که با الگو گرفتن از وب سایت های خارجی مشابه و همگام سازی آن با قوانین میهن عزیزمان شکل گرفته است.هدف اینست که پارسی بین با ایجاد هیجان فضایی را برای رقابت سالم ایجاد نموده و کمکی باشد به سنجش حس پیش بینی، ریسک پذیری و قدرت تصمیم گیری شما عزیزان. کافیست شما با پیش بینی نتایج مسابقات ورزشی در این فضا قرار گرفته و در صورت برنده شدن از جوایزی که در نظر گرفته شده بهره مند گردید .</p>
        <p class="black">امیدواریم با ارسال انتقادات و پیشنهادات سازنده خود همراه ما در روند بهبود فضای پارسی‌بین باشید. </p>
        <br />
    </div>
</div>
