@{ 
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="Part2">
    <div class="container body-content">
        <h2 class="black"><span class="fa fa-futbol-o "></span> نحوه بازی</h2>
        <p class="black">پس از ثبت نام و تایید کردن حساب کاربری خود میتوانید به پنل شخصی خود رفته و بازی‌های پیش رویی را که تیم پارسی‌بین برای شما آماده کرده است، پیش‌بینی کنید.</p>
        <p class="black">
            پارسی بین معمولا روز قبل از شروع هر مسابقه، شرایط بازی را آماده خواهد نمود.<br />
            در مسابقات فوتبال معمولا پنج حالت مختلف برای هر مسابقه در نظر گرفته خواهد شد :<br />
            <ul class="black">
                <li>برد میزبان</li>
                <li>تساوی</li>
                <li>برد میهمان</li>
                <li>برد مساوی میزبان</li>
                <li>برد مساوی میهمان</li>
            </ul>
        </p>
        
        <p class="black">
            *  برد مساوی به حالتی گفته میشود که در یک مسابقه با بردن تیم مورد نظرتان و یا تساوی بازی به شما امتیاز مربوطه تعلق خواهد گرفت.<br />
        </p>
        <p class="black">
            مسابقات والیبال با دو حالت برد میزبان و برد میهمان قابل پیش بینی است و هر انتخاب دارای امتیاز خاص خود نسبت به شرایط تیم ها دارد.
        </p>
        <p class="black">
            در خصوص سایر مسابقات از جمله کشتی و وزنه برداری، ملاک پیش بینی، انتخاب قهرمان رشته از بین تعداد ورزشکاران می باشد.
        </p>
        <p class="black">
            هر کدام از حالت‌های فوق دارای امتیاز از پیش تعریف شده‌ای است که شما مجاز به انتخاب فقط یکی از آنها هستید.<br />
            پس از اتمام بازی و مشخص شدن نتیجه، اگر حدس شما درست بود، امتیاز به شما تعلق خواهد گرفت.<br />
            لطفا توجه داشته باشید که نتیجه مد نظر در پارسی بین و برای مسابقات فوتبال، نتیجه ای است که در نود دقیقه بدست خواهد آمد و نتیجه در دو وقت اضافه و یا ضربات پنالتی در سیستم پارسی بین اعمال نخواهد شد.
        </p>
        <br />
        <p class="black">
            پس از نهایی سازی امتیازات در صورتی که کاندیدای دریافت جوایز بیش از یک نفر باشد، با انجام قرعه کشی بین نفرات واجد شرایط برنده نهایی مشخص خواهد شد.
            <br />
            برای ارتباط با ما لطفا با ایمیل info@parsibin.com در تماس باشید.
        </p>
    </div>
</div>
