@*@section Styles {
        <link href="@Url.Content("~/Content/css/flipclock.css")" rel="stylesheet" type="text/css" />
    }*@
@{
    Layout = "~/Views/Shared/_LayoutLte.cshtml";
    ViewBag.Main = "Main";

}

<div class="container body-content">
    <div class="col-md-6">
        <img alt="پارسی بین" src="@Url.Content("~/Handlers/ImageHandler/ImageHandler.ashx?h=260&w=399&file=" + "~/Content/img/parsibinfarsi.png")" class="img-responsive" title="پارسی بین" style="margin: 0 auto;">
    </div>
    <div class="col-md-6">
        <h1 class="text-center Title">وب سایت سرگرمی پارسی بین</h1>
        <h3 class="text-center Title">رایگان و به همراه جایزه</h3>
    </div>    
    
    @*<div class="container hidden-xs" style="vertical-align:bottom;">
            <div class="col-sm-6 text-left"><h4 class="white"><br />تا شروع مسابقات یورو 2016 :</h4></div>
            <div class="col-sm-6"><div class="clock-builder-output" style="float:right;"></div></div>
        </div>*@
    <br />
    <br />
    <div class="text-center"><a href="~/Account/register" class="btn btn-lg btn-success">ثبت نام</a> <a href="~/Account/register/login" class="btn btn-lg btn-success">ورود</a><br /><br /></div>
    <br /><br />
</div>
<br />
<br />


<div class="features" id="ParsiBin">
    <div class="container">
        <h3 class="text-head"> درباره پارسی بین</h3>
        <div class="features-section">
            <ul >
                <li class="col-md-4">
                    <div >
                        <div class="fa fa-gift fa-5x green"></div>
                        <h4 >جایزه ببرید</h4>
                        <p>ثبت نام کنید، پیش بینی کنید، جایزه ببرید <br />کافیست شما با پیش بینی نتایج مسابقات ورزشی در این فضا قرار گرفته و در صورت برنده شدن از جوایزی که در نظر گرفته شده بهره مند گردید .</p>
                    </div>
                </li>

                <li class="col-md-4">
                    <div class="fa fa-crosshairs fa-5x green"></div>
                    <h4>هدف پارسی بین</h4>
                    <p>
                        هدف اینست که پارسی بین با ایجاد هیجان فضایی را برای رقابت سالم ایجاد نموده و کمکی باشد به سنجش حس پیش بینی، ریسک پذیری و قدرت تصمیم گیری شما عزیزان.
                    </p>
                </li>
                <li class="col-md-4">
                    <div class="fa fa-lightbulb-o fa-5x green"></div>
                    <h4>ایده پارسی بین</h4>
                    <p>
                        پارسی بین یک ایده سرگرمی است که با الگو گرفتن از وب سایت های خارجی مشابه و همگام سازی آن با قوانین میهن عزیزمان شکل گرفته است.
                    </p>
                </li>                
            </ul>            
        </div>                       
    </div>
    <div><br /><br /><br />   
    <br />
    </div>    
</div>
<div class="color-border">
</div>
<div class="stories" id="Rules">
    <div class="container">
        <h3 class="text-head green">قوانین سایت</h3>
        <p class="black">پارسی بین یک وب سایت رایگان برای سرگرمی و گذران اوقات فراغت می باشد. از اعضاء هیچگونه وجهی بابت پیش‌بینی دریافت نخواهد شد و جوایز هر دوره از مسابقات از طرف تیم پارسی‌بین جهت بالابردن هیجان و حس رقابت تامین خواهد شد. هرگونه فعالیت خارج از چارچوب قوانین جمهوری اسلامی ایران تخلف محسوب شده و حساب کاربری فرد خاطی تعلیق می گردد.</p>
        <p class="black">اطلاعات اعضا، نزد پارسی‌بین محفوظ بوده و به نمایش عمومی در نمی آید. پارسی بین جهت ارتباط و اطلاع رسانی با ایمیل شما در تماس است.</p>
        <p class="black">پارسی‌بین مجاز است در هر دوره  که با اسپانسری به توافق رسید شروع به تبلیغ در قسمت‌های مختلف سایت نماید.</p>
        <p class="black">موارد این قرارداد ممکن است در بازه های زمانی مختلف دچار تغییرات شده و مواردی به آن اضافه گردد. صفحه قوانین همیشه در سایت موجود است و میتوانید با مطالعه آن از آخرین شرایط سایت آکاه شوید.</p>
        
    </div>
    <div>
        <br /><br />
        <br />
    </div>     
</div>
<div class="color-border">
</div>

<div class="color-border">
</div>