<div class="Part2">
    <div class="container body-content">
        <h2 class="black"><span class="glyphicon glyphicon-list-alt"></span> قوانین </h2>
        <p class="black">پارسی بین یک وب سایت رایگان برای سرگرمی و گذران اوقات فراغت می باشد. از اعضاء هیچگونه وجهی بابت پیش‌بینی دریافت نخواهد شد و جوایز هر دوره از مسابقات از طرف تیم پارسی‌بین جهت بالابردن هیجان و حس رقابت تامین خواهد شد. هرگونه فعالیت خارج از چارچوب قوانین جمهوری اسلامی ایران تخلف محسوب شده و حساب کاربری فرد خاطی تعلیق می گردد.</p>
        <p class="black">اطلاعات اعضا، نزد پارسی‌بین محفوظ بوده و به نمایش عمومی در نمی آید. پارسی بین جهت ارتباط و اطلاع رسانی با ایمیل شما در تماس است.</p>
        <p class="black">پارسی‌بین مجاز است در هر دوره  که با اسپانسری به توافق رسید شروع به تبلیغ در قسمت‌های مختلف سایت نماید.</p>
        <p class="black">موارد این قرارداد ممکن است در بازه های زمانی مختلف دچار تغییرات شده و مواردی به آن اضافه گردد. صفحه قوانین همیشه در سایت موجود است و میتوانید با مطالعه آن از آخرین شرایط سایت آکاه شوید.</p>
        
    </div>
</div>
