@{ 
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="container body-content">

    <div>
        <img alt="پارسی بین" src="@Url.Content("~/Handlers/ImageHandler/ImageHandler.ashx?h=260&w=399&file=" + "~/Content/img/parsibinfarsi.png")" class="img-responsive" title="پارسی بین" style="margin: 0 auto;">        
        <h1 class="text-center Title">وب سایت سرگرمی پارسی بین</h1>
        <h1 class="text-center white">ثبت نام موقت</h1>
    </div>
    <hr />
    <p class="black" style="font-size:2rem;">کاربر گرامی؛<br />ثبت نام شما به طور موقت انجام شد. لطفا ایمیل خود را چک کرده و بر روی لینک فعال سازی اکانت خود کلیلک کنید. پس از آن ثبت نام شما به طور کامل انجام میشود.<br />لطفا در نظر داشته باشید مدت زمان فعال سازی اکانت شما محدود است. (6 ساعت)</p>    
</div>