@{
    ViewBag.Title = "تغییر رمز";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container body-content">
        <div class="form-horizontal">
            <div class="col-md-6 col-sm-12">
                <p class="black">تغییر رمز عبور</p>
                <p class="black">در این قسمت میتوانید رمز عبور خود را تغییر دهید. لطفا در نظر داشته باشید رمز عبور باید حداقل 6 کاراکتر و حداکثر 14 کاراکتر باشد. رمز عبور مجاز شامل اعداد و حروف انگلیسی و علائم میباشد .</p>
                <p class="black">پس از تکرار رمز عبور و زدن دکمه "ثبت کلمه عبور جدید" به صفحه "ورود به ناحیه کاربری" منتقل میشوید.</p>
            </div>
            <div class="col-md-6 col-sm-12" style="padding-top:30px;">
                @if (ViewBag.Message != null)
                {     <div class="alert-danger">@ViewBag.Message</div>}
                <div class="form-group">
                    <label class="control-label col-md-2 black" for="Email">رمز عبور :</label>
                    <div class="col-md-10">
                        <input class="form-control text-right text-box single-line" data-val="true" data-val-required="وارد کردن رمز عبور اجباری است" id="Pass" maxlength="14" name="Pass" style="direction:ltr;" type="password" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Pass" data-valmsg-replace="true"></span>
                    </div>
                </div>
                               

                <div class="form-group">
                    <label class="control-label col-md-2 black" for="Email">تکرار رمز عبور :</label>
                    <div class="col-md-10">
                        <input class="form-control text-right text-box single-line" data-val="true" data-val-required="وارد کردن تکرار رمز عبور اجباری است" id="RePass" maxlength="14" name="RePass" style="direction:ltr;" type="password" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="RePass" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ثبت کلمه عبور جدید" class="btn btn-lg btn-success">
                </div>

            </div>
                        
        </div>
    </div>
}
