@{
    ViewBag.Title = "مشکلی در تایید";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="container body-content">        
    <br /><br /><br /><br /><br /><br /><br />
    <p class="black" >مشکلی در تایید حساب شما پیش آمده. به احتمال زیاد علت آن انقضای مدت زمان اعتبار کد شما است. لطفا مجددا درخواست را از قسمت فراموشی رمز عبور تکرار کنید. اگر باز هم به مشکل خوردید با ایمیل info@parsibin.com با ما در میان بگذارید.</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

