@{ 
    ViewBag.Title = "اتمام مراحل";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="container body-content">
    <br /><br /><br /><br /><br /><br /><br />
    <p class="black" style="font-size:2rem;">با تشکر از شما. <br />مراحل ثبت نام به پایان رسید. اکنون میتوانید با اکانت خود وارد شوید.</p>
    <p class="black">برای  @Html.ActionLink("ورود به ناحیه کاربری", "Login") از این لینک استفاده نمایید.</p>
    <br /><br /><br /><br /><br /><br /><br />
</div>
